body {
  margin: 0px;
  background-color: #fafafa;
}

#main-container{
  display: flex
}

#conten-container{
  // width: 100%;
  // margin-left: 59px;
  margin-left: 20%;
  width: 80%;
  @media only screen and (max-width: 1239px) {
    margin-left: 25%;
    width: 75%;
  }
  @media only screen and (max-width: 1024px) {
    margin-left: 59px;
    width: calc(100% - 59px);
  }
}

button:focus{
  outline: none;
}